@import '../../../assets/styles/partials/globals';

body {
  background-color: $dark_black;
}

.onBlur {
  border-bottom: 1px solid $blue_grey;
}

.onError {
  border-bottom: 1px solid $alert_color;
}

.onFocus {
  border-bottom: 1px solid $white;
}

.input-field {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  padding: 0 16px 18px 16px;

  
  &__input {
    box-sizing: border-box;
    flex-grow: 6;
    outline: none;
    border: none;
    border-radius: none;
    background-color: transparent;
    @include body-m();
    color: $white;
    caret-color: $alert_color;
    
    &::placeholder {
      color: $blue_grey;
    }
  }
  
  &__error {
    margin-left: 16px;
    display: block;
    flex-grow: 1;
    text-align: center;
    @include body-m();
    color: $alert_color;
  }
}

