@import '../../../assets/styles/partials/globals';

body {
  background-color: $dark_black;
}

.onBlur {
  border-bottom: 1px solid $blue_grey;
}

.onError {
  border-bottom: 1px solid $blue_grey;
}

.onFocus {
  border-bottom: 1px solid $alert_color;
}

.input-field {
  box-sizing: border-box;
  // width: 100%;
  display: flex;
  flex-direction: row;
  margin: 20px;
  padding-bottom: 18px;

  &__input {
    border: none;
    border-radius: none;
    background-color: transparent;
    box-sizing: border-box;  
    flex-grow: 6;
    outline: none;
  }

  &__error {
    display: block;
    flex-grow: 1;
    text-align: center;
  }
}

