@import '../../../assets/styles/partials/globals';

.user-log-form {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__logo {
    margin-bottom: 83px;
  }

  .login-form {
    width: 520px;
  }
}